<button type="button" class="btn btn-sm" data-toggle="modal" [attr.data-target]="'#'+idx" style="background-color: transparent;"><span class="wj-glyph-filter"></span></button>

<!-- Modal -->
<div id="{{idx}}" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span [style.background-color]="ascBackground" class="btn btn-link" (click)="sortAction('asc')" data-dismiss="modal" ><span class="{{'wj-glyph-up'}}"></span>Ascending</span>
        <span [style.background-color]="descBackground" class="btn btn-link" (click)="sortAction('desc')" data-dismiss="modal"><span class="wj-glyph-down"></span>Descending</span><br />
        <div>
          <span class="btn btn-link" [style.background]="byValue ? '' : '#ecf7f9'" (click)="filterByCondition()">Filter By Condition</span>
          <span class="btn btn-link" [style.background]="byValue ? '#ecf7f9' : ''" (click)="filterByValue()">Filter By Value</span>
        </div>
        <div *ngIf="!byValue">
          Show items where there value <br />
          <select>
            <option>equals</option>
            <option>Begins with</option>
          </select>
          <br />
          <input placeholder="Enter value">
        </div>
        <div *ngIf="byValue">
          <input type="text" placeholder="Search" [(ngModel)]="searchText" />
          <div style="overflow-y:scroll; height:150px;">
            <ul>Select All<input  type="checkbox" [(ngModel)]="selectAll" (change)="selectAllValues()">
              <li *ngFor="let val of searchItems | search : searchText">
                <input (change)="changeVal($event, val)" [(ngModel)]="val.selected" type="checkbox">{{val.value}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="load()" data-dismiss="modal">Apply</button>
        <button type="button" class="btn btn-default" (click)="cancel()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" (click)="clear()" data-dismiss="modal">Clear</button>
      </div>
    </div>
  </div>
</div>