<button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal"><span
    class="wj-glyph-filter"></span></button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <button>Ascending</button>
        <button>Descending</button><br />
        <input type="text" placeholder="Search" />
        <div>
          <ul>Select All <input type="checkbox">
            <li *ngFor="let val of searchValues">
              <input type="checkbox">{{val.value}}</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Apply</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Clear</button>
      </div>
    </div>
  </div>
</div>