<button type="button" class="btn btn-sm" data-toggle="modal" [attr.data-target]="'#'+idx"><span
    class="wj-glyph-filter"></span></button>

<!-- Modal -->
<div id="{{idx}}" class="modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filter by {{idx}}</h4>
      </div>
      <div class="modal-body">
        <button><span class="wj-glyph-up"></span>Ascending</button>
        <button><span class="wj-glyph-down"></span>Descending</button><br />
        <input type="text" placeholder="Search" />
        <div>
          <ul>Select All<input type="checkbox">
            <li *ngFor="let val of searchItems">
              <input (change)="changeVal($event, val)" type="checkbox">{{val}}
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="load()" data-dismiss="modal">Apply</button>
        <button type="button" class="btn btn-default" (click)="cancel()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" (click)="clear()" data-dismiss="modal">Clear</button>
      </div>
    </div>
  </div>
</div>