<div class="container">
    <h1>
        FlexGridFilter
    </h1>
    <div>
        This is another code
        <!-- Trigger the modal with a button -->
    </div>
    <div>
        <wj-flex-grid #grid [itemsSource]="view" allow-sorting="false" (sortingColumn)="gridSort(grid, $event)">
            <wj-flex-grid-column [header]="'Id'" [binding]="'id'" allow-sorting="false">
                <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'">
                    <div>
                        <span *ngIf="view.fieldSort.id  && view.fieldSort.id == 'desc' ;else id_down"
                            class="wj-glyph-up" (click)="switchSort('id')"></span>
                        <ng-template #id_down><span class="wj-glyph-down" (click)="switchSort('id')"></span>
                        </ng-template>
                    </div>
                </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'name'" [binding]="'name'">
                <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
                    <div>
                            <span *ngIf="view.fieldSort.name  && view.fieldSort.name == 'desc' ;else name_down" class="wj-glyph-up" (click)="switchSort('name')"></span>
                            <ng-template #name_down><span class="wj-glyph-down" (click)="switchSort('name')"></span>
                            </ng-template>
                            Name
                    </div>
                </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'code'" [binding]="'code'" allow-sorting="false">
                <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
                    <div>
                        <span *ngIf="view.fieldSort.code  && view.fieldSort.code == 'desc' ;else code_down"
                            class="wj-glyph-up" (click)="switchSort('code')"></span>
                        <ng-template #code_down><span class="wj-glyph-down" (click)="switchSort('code')"></span>
                        </ng-template>
                        Code
                        <app-filter-by (onLoadData)="load($event)" [searchItems]="columnFilters.code" idx="code">
                        </app-filter-by>
                    </div>
                </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'address'" [binding]="'address'">
                <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
                    <div>
                        <span *ngIf="view.fieldSort.address  && view.fieldSort.address == 'desc' ;else address_down"
                            class="wj-glyph-up" (click)="switchSort('address')"></span>
                        <ng-template #address_down><span class="wj-glyph-down" (click)="switchSort('address')"></span>
                        </ng-template>
                        Address
                        <app-filter-by (onLoadData)="load($event)" [searchItems]="columnFilters.address" idx="address">
                        </app-filter-by>
                    </div>
                </ng-template>
            </wj-flex-grid-column>
        </wj-flex-grid>
    </div>

    <div class="row">
        <div class="col-md-6">
            <wj-collection-view-pager [cv]="view"></wj-collection-view-pager>
            <br />
            <label>
                Show Dates as GMT
                <input type="checkbox" [(ngModel)]="view.showDatesAsGmt">
            </label>
        </div>
        <div class="col-md-6">
            <label>
                Page Size:
                <wj-combo-box [itemsSource]="[6, 8, 10, 12, 20, 25, 50, 1000]" [(selectedValue)]="view.pageSize">
                </wj-combo-box>
            </label>
        </div>
    </div>
</div>